
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: 'Poppins', sans-serif;
}

img {
    max-width: 100%;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.header{
    display: flex;
    align-items: center;
    background-color: #EFF3F4;
    padding: 130px 0 0 0;
}

.menu{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    flex-basis: 9%;
    text-align: center;
    font-size: 100px;
    color: #c266ab;
    text-transform: uppercase;
    font-weight: 500;
}

.menu .navbar ul li{
    position: relative;
    float: left;
}

.menu .navbar ul li a{

    font-size: 18px;
    padding: 20px;
    color: #111419;
    display: block;

}

.menu .navbar ul li a:hover {
    color: #c266ab;
}

#menu {
    display: none;

}
.menu-icono{
    width: 25px;
}

.menu label{
    cursor: pointer;
    display: none;
}

.submenu{
    position: relative;
}

.submenu #carrito{
    display: none;
}

.submenu:hover #carrito{
    display: block;
    position: absolute;
    right: 0;
    backdrop-filter: blur(10px);
    top: 100%;
    z-index: 1;
    background-color: #4E4B5076;
    padding: 20px;
    min-width: 400px;
}

table {
    width: 100%;
}

th, td {
    color: #ffffff;
}

.borrar{
    background-color: #c266ab;
    border-radius: 50%;
    padding: 5px 10px;
    color: #ffffff;
    font-weight: 800;
    cursor: pointer;
}

.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-txt{
    flex-basis: 50%;
    margin-right: 25px;

}

span {
    color: #c266ab;
    font-size: 17px;
    font-weight: 600;
    display: block;
    margin-bottom: 60px;
    text-align: center;
}

.header-txt h1 {

    font-size: 60px;
    text-transform: capitalize;
    line-height: 1;
    color: #15191f;
    margin-bottom: 30px;
    text-align: center;
}

.header-txt p{
    font-size: 17px;
    color: #c266ab;
    margin-bottom: 35px;
    text-align: center;
}

.buttons{
    display: flex;
    justify-content: center;
}

.btn-1 {
    display: inline-block;
    padding: 13px 25px;
    background-color: #e98f74;
    margin-right: 20px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 10px;
    border-radius: 10px;
}

.header-img{
    flex-basis: 50%;
    text-align: center;
}

.header-img img{
    height: 350px;
}

.oferts {
    padding: 100px 0;
    display: flex;
    justify-content: space-between;
}

.ofert-1 {
    flex-basis: calc(33.3% - 20px);
    padding: 20px 25px;
    justify-content: space-between;
    align-items: center;
}

.b1 {
    background-color: #411836;
}

.b2 {
    background-color: #14313a;
}
.b3 {
    background-color: #4a3925;
}
 

.ofert-txt {
    flex-basis: 10%;
}

.ofert-txt h3 { 
    color: #ffffff;
    font-size: 18px;
}
.ofert-txt a {
    color: #ffffff;
}

.ofert-img {
    flex-basis: 30%;
}

.products {
    padding: 0 0 50px 0;
    text-align: center;

}

h2 {
    font-size: 35px;
    color: #111419;
}

.box-container {
    margin-top: 55px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 25px;
}

.box{
    border-top: 3px solid #ce2121;
    padding: 2px;
    border-radius: 25px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    background-color: #F6FAFB;
    display: none;

}

.box:nth-child(1),
.box:nth-child(2),
.box:nth-child(3),
.box:nth-child(4),
.box:nth-child(5),
.box:nth-child(6),
.box:nth-child(7),
.box:nth-child(8) {
    display: inline-block;
}

.box img {
    height: 200px;
}

.product-txt h3 {
    font-size: 20px;
    color: #111419;
    margin-bottom: 1opx;
}

.product-txt p{
    margin-bottom: 25px;
    color: #515557;
}

.precio {
    font-size: 17px;
    font-weight: 700;
    color: #FF9100 !important;
}

.btn-2, .btn-3 {
    background-color: #7b4580;
    margin-top: 50px;
    display: inline-block;
    padding: 11px 35px;
    border-radius: 25px;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);

}

.btn-1:hover .btn-2:hover, .btn-3:hover {
    background-color: #de70e2;
}

.btn-3{
    margin: 0;
    padding: 8px 25px;
    border-radius: 5px;
}

.testimonio {
    padding: 100px 0;
    text-align: center;
}

.testimonial-content {

    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.testimonial-1 {
    flex-basis: calc(50% - 20px);
    padding: 50px;
    text-align: left;
    background-color: #F6FAFB;
    border-top: 5px solid #c266ab;
}

.testimonial-1 img {
    width: 100px;

}

.testimonial-1 h4 {
    font-size: 17px;
    color: #111419;
}

.testimonial-1 p{
    color: #515557;
    margin-bottom: 25px;
}

.footer{
    background-color: #381a31;
    padding: 100px 0;
}

.footer-content {
    display: flex;
    justify-content: space-between;
}

.link h3 {
    color: #ffffff;
    font-size: 18px;
    margin-bottom: 15px;
}

.link a {
    color: #AEAFAF;
    display: block;
    margin-bottom: 10px;
}

.link a:hover {
    color: #c266ab;
}

@media (max-width:991px) {

    .menu{
        padding: 20px;
    }

    .menu label {
        display: initial
    }

    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #FF9000;
        display: none;
    }

    .menu .navbar ul li {
        width: 100%;
    }

    #menu:checked ~ .navbar {
        display: initial;
    }

    .logo {
        display: none;
    }

    .menu .navbar ul li a:hover{
        color: #ffffff;
    }

    .submenu:hover #carrito {
        width: 100%;
    }

    .header {
        padding: 50px 0 0 0;
    }
    .header-content {
        padding: 30px;
        flex-direction: column;
        text-align: center;
    }

    .header-txt {
        margin-right: 0;
    }

    .buttons {
        justify-content: center;
    }

    .btn-1 {
        margin-bottom: 0;
    }

    .header-img {
        display: none;
    }

    .oferts {
        padding: 30px;
        flex-direction: column;
    }

    .ofert-1 { 
        margin-bottom: 15px;
    }

    .products {
        padding: 0 30px 30px 30px;
    }

    .testimonio {
        padding: 30px;
    }

    .testimonial-content {
        margin-top: 20px;
        flex-direction: column;
    }

    .testimonial-1 {
        padding: 25px;
        margin-bottom: 25px;
    }

    .footer {
        padding: 30px;
    }

    .footer-content {
        flex-direction: column;
        text-align: center;
    }

}

--ssssijsijs

body {
    margin: 0;
    background: var(--cfondo);
    font-family: sans-serif;
  }
  
  .container {
    /* border: 3px solid red; */
    max-width: 90%;
    margin: auto;
    margin-top: 20px;
  }
  
  :root {
    --cfondo: rgb(207, 211, 212);
    --cfondoForm1: rgba(1, 80, 88, 0.39);
    --cfondoForm2: rgb(129, 193, 202);
    --cnegro: black;
    --ctexto: rgb(14, 81, 88);
    --ctextoDark: rgb(1, 35, 39);
    --cblanco: white;
    --error: rgb(184, 31, 31);
  }
  
  [type="checkbox"] {
    display: none;
  }
  
  [type="checkbox"]:checked + label::before {
    background: var(--cnegro);
    transition: 0.5s;
    transform: rotate(180deg);
  }
  
  [type="checkbox"]:checked + label {
    color: var(--cnegro);
  }
  
  /* ---- FORMULARIO ---- */
  
  .form {
    display: none;
    /* border: 3px solid green; */
    border-top: 2px solid var(--cnegro);
    max-width: 400px;
    padding: 30px 50px;
    margin: auto;
    margin-top: 10px;
    background: linear-gradient(
      0deg,
      var(--cfondoForm1) 0%,
      var(--cfondoForm2) 50%
    );
  }
  
  .form-titulo {
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    margin: 0;
    margin-bottom: 20px;
    letter-spacing: 3px;
  }
  
  .form-input {
    margin-bottom: 30px;
  }
  
  .form-input label {
    display: block;
    margin-top: 10px;
    font-size: 15px;
    color: var(--ctexto);
  }
  
  .form-input input {
    width: 100%;
    border: none;
    outline: none;
    background: none;
    border-bottom: 1px solid var(--ctexto);
  }
  
  .form-input input:focus + label {
    font-weight: bold;
    color: var(--cnegro);
  }
  
  .form-termsAndConditions {
    margin-left: 15px;
    position: relative;
    color: var(--ctexto);
    font-size: 13px;
  }
  
  .form-termsAndConditions label::before {
    content: "";
    width: 8px;
    height: 8px;
    border: 1px solid var(--cnegro);
    position: absolute;
    left: -14px;
  }
  
  .form-boton input {
    background: var(--cnegro);
    color: var(--cblanco);
    padding: 10px 50px;
    font-size: 25px;
    display: block;
    margin: auto;
    margin-top: 40px;
    border: none;
  }
  
  .form-boton input:hover {
    background: var(--ctextoDark);
    transition: 0.5s;
  }
  
  .mensajeError {
    color: var(--error);
    margin-top: 0px;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
  }
  
  .mensajeCorrecto {
    text-align: center;
    font-weight: bold;
  }





